@model ProjetoAspNetMVC03.Models.AccountPasswordRecoveryModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Password Recovery</title>

    <!-- folhas de estilo CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet" />

</head>
<body class="bg-secondary">

    <div class="mt-5 col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body text-center">

                <img src="https://scontent.fsdu8-1.fna.fbcdn.net/v/t1.6435-9/227909209_4261491727275827_3545165443569948768_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=730e14&_nc_eui2=AeGzLj6Zi8PrBHDS45eKSJ5NrYiRGL1B2nOtiJEYvUHac8UcIMRoS4gmEjAXOwCFYP27unP_kwpjdR51Hk_XUQ1g&_nc_ohc=gYoRziIvj3EAX-PvJtc&_nc_ht=scontent.fsdu8-1.fna&oh=efde95e6c25f1078b18815118c12de63&oe=6129B95F" />

                <h5>Esqueci minha senha</h5>
                <hr />

                @using (Html.BeginForm("PasswordRecovery", "Account", FormMethod.Post,
                 new { @autocomplete = "off" }))
                {
                    <label>Informe seu email para receber uma nova senha de acesso:</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    <span class="text-danger">
                        @Html.ValidationMessageFor(model => model.Email)
                    </span>
                    <br />

                    <div class="d-grid">
                        <input type="submit" class="btn btn-dark" value="Confirmar" />
                        <a href="/Account/Login" class="btn btn-light">Voltar</a>
                    </div>

                    @if (TempData["Mensagem"] != null)
                    {
                        <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                            <strong>@TempData["Mensagem"]</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                }

            </div>
        </div>
    </div>

    <!-- arquivos javascript -->
    <script src="~/js/bootstrap.js"></script>

</body>
</html>